.movies-card-list {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 270px));
    grid-template-rows: auto;
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 38px;
    padding-top: 70px;
}

.movies-card-list_savepage {
    margin-bottom: 240px;
}


@media screen and (max-width: 768px) {
    .movies-card-list {
        padding: 70px 30px 10px;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 339px));
        grid-row-gap: 30px;
    }

    .movies-card-list_savepage {
        margin-bottom: 159px;
    }
}

@media screen and (max-width: 400px) {
    .movies-card-list {
        padding: 40px 10px 10px;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 300px));
    }
}