.movies {
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.movies__button-more {
    border-radius: 6px;
    background: #F9F9F9;
    width: 320px;
    height: 36px;
    margin: 50px auto 95px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: opacity .2s ease;
}

.movies__button-more:hover {
    opacity: 0.7;
}


@media screen and (max-width: 768px) { 
    .movies__button-more {
        margin-top: 50px;
    }
}

@media screen and (max-width: 320px) { 
    .movies__button-more {
        width: 240px;
        font-size: 12px;
        margin: 50px auto 100px;
    }
}