.promo {
    background-color: #073042;
    min-height: 524px;
}

.promo__title {
    color: #FFF;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    margin: 0;
    padding: 0;
    max-width: 640px;
}

.promo__caption {
    grid-row: 2 / 3;
    margin-top: 36px;
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.5;
    max-width: 310px;
}

.promo__title-container {
    display: grid;
    grid-template-rows: auto auto auto; 
    align-items: start;
}

.promo__container {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 70px;
    padding-right: 70px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: end;
    justify-content: space-between;
    max-width: 1280px;
    min-height: 100%;
    margin: 0 auto;
}

.promo__logo {
    box-sizing: border-box;
    object-fit: cover;
}

.promo__button {
    margin-top: 146px;
    grid-row: 3 / 3;
    border-radius: 3px;
    border: 1px solid #FFF;
    opacity: 0.6;
    width: 129px;
    height: 36px;
    background-color: transparent;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
}

@media screen and (max-width: 420px) {
  
    .promo__title {
      font-size: 30px;
      line-height: 39px;
    }
  }